{% extends "base.html" %}
{% block title %}Matt's Website{% endblock %}
{% block content %}
<h1>Matt Burkhard's Web Applications</h1>
<p><li class="active"><a href="/chess_neural_network/">Chess Bot</a></li></p>
<p>A neural network trained on my own chess.com decisions. Play me in chess!</p>
<p><li class="active"><a href="/twitter/">Parrot</a></li></p>
<p>Applies markov chains to tweets</p>
<p><li class="active"><a href="/chess/">Opening Guru</a></li></p>
<p>Parses chess.com api to find players' records using/against specific openings</p>
<p><li class="active"><a href="/motif_finder/">Motif Finder</a></li></p>
<p>Evaluates efficiency of Gibbs Sampling</p>
<p><li class="active"><a href="/board/">Bored</a></li></p>
<p>A basic imageboard for when you're bored</p>
<p><li class="active"><a href="/what2wear/">What Would Michael Wear?</a></li></p>
<p>If Michael Cera was with you right now, what would he wear?</p>
<p><li class="active"><a href="/clash/">Clash Progress Check</a></li></p>
<p>Gives an idea of where your upgrades are at in Clash of Clans</p>
<h2>My Rosalind and LeetCode Accounts</h2>
<p><li class="active"><a href="http://rosalind.info/users/matt.burkhard/">Rosalind</a></li></p>
<p><li class="active"><a href="https://leetcode.com/umatt/">LeetCode</a></li></p>
{% endblock %}
